* {
    margin: 0px;
    font-family: 'Unbounded', cursive;
}
/* header & banner styles */
.header {
    color: white;
    background-image: url(../images/donation13.jpg), linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}
.banner-title {
    font-weight: 600;
    font-size: 60px;
    padding-top: 150px;
}
.banner-description {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0px 100px;
}
.banner-contents {
    text-align: center;
    margin: 0px 500px;
}
/* button styles */
.btn-primary {
    background: #FF5959;
    border: 0px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
.header .btn-primary {
    margin-bottom: 150px;
}
/* horizontal line styles */
hr {
    border: 1px solid #DADADA;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}
/* other styles */
.other-amount {
    color: #B3B3B3;
    font-weight: 200;
    font-size: 18px;
}
/* section styles */
.section-title {
    font-size: 40px;
    margin-bottom: 20px;
}
.section-description {
    color: #707070;
    padding: 0px 600px;
    margin-bottom: 20px;
}
/* donate-today section styles */
.donate-today .section-title {
    margin-top: 100px;
}
.donate-today {
    text-align: center;
}
.donations {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 450px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.donation-amount {
    color: #707070;
    font-weight: 600;
    font-size: 25px;
}
.donation-item {
    background-color: #FAFAFA;
    padding: 40px 25px;
    border-radius: 5px;
}
/* our donate plan section styles */
.our-donate-plan .section-title {
    text-align: center;
    margin-top: 80px;
}
.donation-categories {
    display: flex;
    padding:0px 200px;
    gap: 25px;
}
.donation-categories .single-category1 {
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    padding: 60px 30px;
}
.donation-categories .single-category2 {
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    padding: 60px 30px;
}
.donation-categories .single-category3 {
    background: #FFF4D6;
    border-radius: 5px;
    padding: 60px 30px;
}
.donation-category-title {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.donation-category-description {
    color: #707070;
    font-size: 15px;
}
/* lives-depend section styles */
.lives-depend {
    display: flex;
    margin-top: 150px;
    padding-left: 200px;
    padding-right: 300px;
    gap: 80px;
}
.lives-depend .section-title {
    margin-top: 50px;
}
.lives-depend .section-description {
    padding: 0px;
}
.lives-depend img {
    border-radius: 5px;
    height: 477px;
    width: 650px;
}
/* need-us section styles */
.need-us {
    display: flex;
    margin-top: 100px;
    padding-left: 200px;
    padding-right: 300px;
    gap: 80px;
}
.need-us .section-title {
    margin-top: 50px;
}
.need-us .section-description {
    padding: 0px;
}
.need-us img {
    border-radius: 5px;
    height: 477px;
    width: 650px;
}
/* get-my-updates section styles */
.get-my-updates .section-title {
    text-align: center;
    margin-top: 100px;
}
.get-my-updates .form {
    text-align: center;
    background-color: #FFF4D6;
    padding: 60px 0px;
    margin: 0px 650px;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 200px;
}
.get-my-updates input {
    border: none;
    border-radius: 5px;
}
.get-my-updates input[type=email] {
    padding: 20px 20px;
    background-color: #D9D9D9;
    color: #AA9F9F;
}
.get-my-updates input[type=submit] {
    padding: 20px 40px;
    background-color: #FF5959;
    color: white;
}
/* footer styles */
footer {
    background-color: black;
    padding: 30px 0px;
}
footer .section-title {
    color: #FF5959;
    text-align: center;
}
footer .section-description {
    padding: 0px;
    text-align: center;
}
/* responsive layout for small screen */
@media screen and (max-width: 576px) {
    .header {
        color: black;
        background-image: none;
    }
    .banner-contents {
        justify-content: start;
        margin: 0px 20px;
    }
    .banner-title {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .banner-description {
        margin-top: 30px;
        margin-bottom: 50px;
        padding: 0px 20px;
    }
    .donations {
        flex-direction: column;
        padding: 0px 30px;
        gap: 20px;
    }
    .donate-today .section-description {
        padding: 0px 20px;
    }
    hr {
        width: 90%;
        
    }
    .our-donate-plan .section-title {
        padding: 0px 20px;
    }
    .our-donate-plan .section-description {
        padding: 0px 30px;
    }
    .donation-categories {
        padding: 0px 20px;
        flex-direction: column;
    }
    .lives-depend {
        padding: 0px 20px;
        flex-direction: column-reverse;
        margin-top: 100px;
    }
    .lives-depend img {
        height: fit-content;
        width: 100%;
        justify-content: center;
    }
    .lives-depend .section-title {
        margin-top: 0px;
    }
    .donation-image-div {
        width: 100%;
        text-align: center;
    }
    .need-us {
        padding: 0px 20px;
        flex-direction: column;
    }
    .need-us img {
        height: fit-content;
        width: 100%;
    }
    .need-us .section-title {
        margin-top: 0px;
    }
    .get-my-updates {
        padding: 0px 30px;
    }
    .get-my-updates .section-description {
        padding: 0px;
    }
    .get-my-updates .form {
        margin: 30px 0px;
    }
    .get-my-updates input[type=email] {
        margin-bottom: 30px;
    }
}
/* responsive layout for medium screen */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .header {
        background-size: auto;
        background-position: top;
    }
    .banner-contents {
        margin: 0px 20px;
    }
    .header .btn-primary {
        margin-bottom: 50px;
    }
    .donate-today .section-description {
        padding: 0px 40px;
    }
    .donations {
        padding: 0px 30px;
        gap: 20px;
    }
    hr {
        width: 90%;
        
    }
    .donation-item {
        padding: 2em 1em;
    }
    .our-donate-plan .section-description {
        padding: 0px 30px;
    }
    .donation-categories {
        padding: 0px 30px;
    }
    .lives-depend {
        padding: 0px 30px;
        flex-direction: column-reverse;
        margin-top: 100px;
    }
    .lives-depend .section-title {
        margin-top: 0px;
    }
    .donation-image-div {
        width: 100%;
        text-align: center;
    }
    .lives-depend img {
        height: fit-content;
        width: 100%;
        justify-content: center;
    }
    .need-us {
        padding: 0px 30px;
        flex-direction: column;
    }
    .need-us img {
        height: fit-content;
        width: 100%;
    }
    .need-us .section-title {
        margin-top: 0px;
    }
    .get-my-updates {
        padding: 0px 30px;
    }
    .get-my-updates .section-description {
        padding: 0px;
    }
    .get-my-updates .form {
        margin: 30px 100px;
    }
}
.hide {
    display: none;
}